body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #F9FAF8;
    margin: 0 0;
    padding: 0 300px 100px 300px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem;
}
.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.content {
    width: 25rem;
}
.bigger-text {
    font-size: 48px;
    font-weight: 700;
}
.smaller-text {
    color: #E5E7EB;
    font-size: 18px;
}
.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: grey;
}
button {
    padding: 8px 1rem;
    background: #3882f6;
    border-radius: 10px;
    border: 0;
    color: #F9FAF8;
    cursor: pointer;
    width: 90px;
}
a {
    color: #E5E7EB;
    text-decoration: none;
}
.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
}
.some-random-info {
    text-align: center;
    font-weight: 700;
    color: #1f2937;
    font-size: 36px;
}
.box-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 700px 100px 700px;
}
.box-text {
    width: 100px;
    height: auto;
    text-align: center;
}
.box {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: solid 2px #3882f6;
}
.quote-text {
    font-size: 36px;
    font-style: italic;
    padding: 0 600px;
    font-weight: 100;
    margin-bottom: 0;
}
.thor {
    margin-left: 70rem;
    margin-bottom: 100px;
}
.call-to-action {
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    margin: 0 300px;
    color: #F9FAF8;
    justify-content: space-around;
    border-radius: 10px;
    margin-bottom: 80px;
    align-items: center;
}
.btn2 {
    background: #3882f6;
    border-radius: 10px;
    border: 0;
    color: #F9FAF8;
    cursor: pointer;
    border: solid 1px #F9FAF8;
}
.copyright {
    display: flex;
    height: 100px;
    justify-content: center;
    background-color:#1f2937;
    align-items: center;
    color:#F9FAF8;
}